@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fall {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(200px); opacity: 0; }
}
.animate-fall {
  animation: fall linear infinite 5s;
}

.font-christmas {
  letter-spacing: 0.05em;
}
.snowflake {
  position: absolute;
  top: -10px;
  font-size: 1rem;
  animation: fall linear infinite;
  color: #fff;
  user-select: none;
  pointer-events: none;
}
